# Python for Big Data

Variables
String
Function print
Booleano y Condicionales
Loops
Funciones
Manejo de Excepcion

# 1. Variables

In [10]:
# Variables
resultado = ""

In [11]:
# Mostrar variables
monto_deuda = 1000
moneda = "Soles"

In [12]:
#Interacción con el usuario
monto_interes = int(input("Ingrese el interes"))

In [14]:
#Operando con variables
resultado = monto_deuda
resultado

1000

In [15]:
#Tipo de variables
type(monto_deuda)

int

In [16]:
type(moneda)

str

In [17]:
#Operacion con variables
4*resultado

4000

In [18]:
#Cambiando tipo de variables
str_monto_deuda = str(monto_deuda)
str_monto_deuda

'1000'

In [19]:
int_monto_deuda = int(str_monto_deuda)
int_monto_deuda

1000

# 2. String

In [17]:
#Concatenar
'Ho' + 'la.'

'Hola.'

In [ ]:
# Creando variables string e inicializando
text_1 = "Mi primer mensaje"
text_2 = "Mi segundo mensaje"

In [21]:
text_1

'Mi primer mensaje'

In [23]:
text_2

'Mi segundo mensaje'

In [25]:
#Comillas triples
consulta = """
    SELECT *
    FROM Users
    WHERE ID = 8
    GROUP BY ADMIN
"""

In [27]:
consulta

'\n    SELECT *\n    FROM Users\n    WHERE ID = 8\n    GROUP BY ADMIN\n'

In [32]:
#Operaciones con string
cadena_1 = "hola mundo"
cadena_2 = "5"
cadena_3 = "cinco"

In [34]:
cadena_1.capitalize()

'Hola mundo'

In [36]:
cadena_3.upper()

'CINCO'

In [38]:
cadena_3.lower()

'cinco'

In [40]:
cadena_1.title()

'Hola Mundo'

In [42]:
cadena_1.split()

['hola', 'mundo']

In [44]:
cadena_1.count('o')

2

In [46]:
#Longitud de una cadena
len(cadena_1)

10

In [50]:
#Quitar letra string
cadena_1.split('m')

['hola ', 'undo']

In [30]:
#Limpiando extremos de un string
cadena_4 = '(Hola mundo), '
#cadena_4.strip()

In [29]:
cadena_4.strip('(), ')

'Hola mundo'

In [20]:
# Reemplazar string
cadena_5 = 'Hola mundo'
cadena_5. replace('mundo', 'amigos')

'Hola amigos'

In [21]:
cadena_5.index('o', 6)

9

In [23]:
cadena_5[4]

' '

In [24]:
cadena_5[-2]

'd'

In [25]:
cadena_5[2:-2]

'la mun'

In [26]:
cadena_5[::-1]

'odnum aloH'

In [31]:
#Llamar a una cadena
cadena_4.strip('(), ').upper().split()

['HOLA', 'MUNDO']

In [39]:
#Python f-string
nombre = 'Milder'
curso = 'Topicos especiales en inteligencia de negocios'
f'Hola {nombre} este es el curso de {curso}'

'Hola Milder este es el curso de Topicos especiales en inteligencia de negocios'

In [38]:
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [37]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [43]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [44]:
print(type(5))

<class 'int'>

In [45]:
print('Mi nombre es: '+ nombre)
print(f'Mi nombre es: {nombre}')

Mi nombre es: Milder
Mi nombre es: Milder

In [50]:
print('Los datos del curso son: \nCurso \t\t: Topicos especiales en Inteligencia de Negocios \nCiclo: \t\t Sexto \nTipo de Curso: \t\t Electivo')

Los datos del curso son:
Curso 		: Topicos especiales en Inteligencia de Negocios
Ciclo: 		 Sexto
Tipo de Curso: 		 Electivo

# 4. Booleanos y condicionales

In [53]:
final_page = False
print(type(final_page))

<class 'bool'>

In [54]:
if final_page == True:
    print('Final de la página')
else:
    print('Sigue leyendo')

Sigue leyendo

In [55]:
not True

False

In [56]:
not False

True

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
False or False

False

In [61]:
False or True

True

In [77]:
#1 < 'uno'

# Bucles and Loops

In [71]:
for letra in 'hola mundo':
    print(letra)

h
o
l
a

m
u
n
d
o

In [72]:
myString = 'Hola a todos'
palabras = myString.split()
print(f'Palabras: {palabras}')

Palabras: ['Hola', 'a', 'todos']

In [73]:
for palabra in palabras:
    print(palabra)

Hola
a
todos

In [74]:
for idx, palabra in enumerate(palabras):
    print(idx, palabras)

0 ['Hola', 'a', 'todos']
1 ['Hola', 'a', 'todos']
2 ['Hola', 'a', 'todos']

In [76]:
# Trabajando con while loops 
max_intentos = 10
intento = 1
while intento <= max_intentos:
    print(f'El númnero de intento es: {intento}')
    intento  += 1

El númnero de intento es: 1
El númnero de intento es: 2
El númnero de intento es: 3
El númnero de intento es: 4
El númnero de intento es: 5
El númnero de intento es: 6
El númnero de intento es: 7
El númnero de intento es: 8
El númnero de intento es: 9
El númnero de intento es: 10

In [78]:
len('Trabjando con cadenas')

21

In [79]:
#Creando funciones
def saluda():
    print('Hola')

In [80]:
saluda()

Hola

In [81]:
def saluda(nombre):
    print(f'Hola: ' + nombre)

In [82]:
saluda('Milder')

Hola: Milder

In [83]:
def bienvenido(nombre, lugar):
    print(f'Bienvenid@ {nombre}, llegastes a {lugar}')

In [84]:
bienvenido('Milder', 'Cajamarca')

Bienvenid@ Milder, llegastes a Cajamarca

In [85]:
#funcion que retorno un valor
def sumar(a,b):
    return a+b

In [88]:
suma = sumar(2,3)
print(suma)
print(sumar(2,3))

5
5

In [92]:
#Reutilizando una funcion en una condición
if(sumar(9,3)) % 2 == 0:
    print('La suma es un numero par')
else:
    print('La suma es un número impar')

La suma es un numero par

In [93]:
if(sumar(9,4))%2 == 0:
    print('La suma es un numero par')
else:
    print('La suma es un número impar')

La suma es un número impar

In [96]:
print(They are)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (620314140.py, line 1)